@{
  ViewData["Title"] = "Admin Paneli";
}
<a href="/Admin/AllProducts" class="btn btn-outline-primary">Tüm Ürünleri Görüntüle</a>
<h2>Admin Paneline Hoş Geldin</h2>

<p>Buradan sistemi yönetebilirsin.</p>

<ul>
  <li><a href="/Product/Create">Yeni Ürün Ekle</a></li>
</ul>